
<div class="navbar navbar-static-top">
    {#{{ app.request.attributes.get('_route')|split('_')[1]|var_dump|raw }}#}
    {#{{ app.request.attributes.get('_route_params')|var_dump|raw }}#}
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url('_homepage') }}"><i class="icon-cog"></i>
            {{ app_name|trans }}</a>
        <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
                <li{% if app.request.attributes.get('_route') == '_homepage' %} class="active"{% endif %}><a href="{{ url('_homepage') }}">Home</a></li>
                <li{% if app.request.attributes.get('_route') == '_gallery' %} class="active"{% endif %}><a href="{{ url('_gallery') }}">Gallery</a></li>
                <li{% if app.request.attributes.get('_route')|split('_')|length >= 2 and app.request.attributes.get('_route')|split('_')[1] == 'page' and app.request.attributes.get('_route_params')['slug'] is defined and app.request.attributes.get('_route_params')['slug'] == 'contact' %} class="active"{% endif %}><a href="{{ url('_page_' ~ app.request.locale, {slug: 'contact'}) }}">Contact</a></li>
                <li class="dropdown{% if app.request.attributes.get('_route')|split('_')|length >= 2 and app.request.attributes.get('_route')|split('_')[1] == 'games' %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Games'|trans }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('_games_memory') }}">Memory</a></li>
                        {#<li><a href="{{ path('_games_kulki') }}">Kulki</a></li>#}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for locale, lang in supported_languages %}
                        <li><a href="{{ url('_locale_change', { locale: locale }) }}"><i class="icon-check-{{ app.request.locale == locale ? 'sign' : 'empty' }}"></i> {{ lang }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li{% if app.request.attributes.get('_route') == 'fos_user_registration_register' %} class="active"{% endif %}><a href="{{ url('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
            </ul>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <form method="post" action="{{ path('fos_user_security_logout') }}" class="navbar-form form-inline pull-right">
            <span><i class="icon-user"></i> {{ app.user }}</span>&nbsp;&nbsp;
            <button class="btn" type="submit">
                <i class="icon-signout"></i>
                {{ 'Sign out' }}
            </button>
            </form>
            {% else %}
            <form method="post" action="{{ path('fos_user_security_check') }}" class="navbar-form form-inline pull-right">
                <input type="hidden" value="{{ csrf_token("intention") }}" name="_csrf_token">
                <input class="form-control" name="_username" type="text" placeholder="{{ 'Username'|trans }}">
                <input class="form-control" name="_password" type="password" placeholder="{{ 'Password'|trans }}">
                <button type="submit" id="_submit" name="_submit" class="btn">
                    <i class="icon-lock"></i>
                    {{ 'Sign in'|trans }}
                </button>
            </form>
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</div>
