<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
    {{ form_start(form) }}

    <div class="control-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {attr: { class: 'form-control', style: 'width: 350px' }}) }}
    </div>

    <div class="control-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {attr: { class: 'form-control', style: 'width: 350px' }}) }}
    </div>

    <div class="control-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {attr: { class: 'form-control', style: 'width: 350px' }}) }}
    </div>

    <div class="control-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {attr: { class: 'form-control', style: 'width: 350px' }}) }}
    </div>

    {{ form_end(form) }}

    <button class="btn" type="submit"><i class="icon-user"></i>
        {{ 'registration.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
