<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">

    {{ form_start(form) }}

        {% set err = form_errors(form) ~
        form_errors(form.first_name) ~
        form_errors(form.last_name) ~
        form_errors(form.username) ~
        form_errors(form.email) ~
        form_errors(form.plainPassword.first) ~
        form_errors(form.plainPassword.second)  %}

    {% if err != '' %}
    <div class="alert">
    {{ err|raw }}
    </div>
    {% endif %}

    <div class="input-group">
        <span class="input-group-addon">{{ form_label(form.first_name) }}</span>
        {{ form_widget(form.first_name, {attr: { class: 'form-control' }}) }}
    </div>

    <div class="input-group">
        <span class="input-group-addon">{{ form_label(form.last_name) }}</span>
        {{ form_widget(form.last_name, {attr: { class: 'form-control' }}) }}
    </div>

    <div class="input-group">
        <span class="input-group-addon">{{ form_label(form.username) }}</span>
        {{ form_widget(form.username, {attr: { class: 'form-control' }}) }}
    </div>

    <div class="input-group">
        <span class="input-group-addon">{{ form_label(form.email) }}</span>
        {{ form_widget(form.email, {attr: { class: 'form-control' }}) }}
    </div>

    <div class="input-group">
        <span class="input-group-addon">{{ form_label(form.plainPassword.first) }}</span>
        {{ form_widget(form.plainPassword.first, {attr: { class: 'form-control' }}) }}
    </div>

    <div class="input-group">
        <span class="input-group-addon">{{ form_label(form.plainPassword.second) }}</span>
        {{ form_widget(form.plainPassword.second, {attr: { class: 'form-control' }}) }}
    </div>

    {{ form_widget(form.save, { attr: { class: 'btn btn-default' } }) }}

    {{ form_end(form) }}

</form>

<script>
    $(document).ready(function(){
        var submitCaption = $('button[id$="_save"]').html();
        $('button[id$="_save"]').html('<i class="icon-save"></i> ' + submitCaption);
    });
</script>