{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% set size = size is defined ? size : 100 %}
{% block field %}

    {%- if value is empty -%}
        {% set src = admin.src %}
    {%- else -%}
        {% set src = app.request.schemeAndHttpHost ~ "/" ~ object.uploadDir ~ "/" ~ value %}
    {%- endif -%}

    <a target="_blank" href="{{ src }}"><img style="width: {{ size }}px;clip:rect(0px,{{ size }}px,{{ size }}px,0px);" src="{{ src }}" /></a>

{% endblock %}
